.App {
  text-align: center;
  background-color:white;
}


.navbar-nav{
  text-align: center;
  color: white;
  font-size: large;
  float: right;

}
.navbar {
  margin-bottom: 0px !important;
  background-color:black;
  height: 50px;
}
li {
  margin-right:90px;
  text-align: center;
  margin:right;
  }
.navbar-band{
  text-align: center;
  color: rgb(168, 214, 214);
  
  font-size: large;
}
.hme{
  background-color: rgb(161, 116, 116);
  font-size: large;
}
.con{
  margin-top:0px !important;
  width: 100% !important;
  background-color: gray;
  height: 100% !important;
}
.ht{
  height: 100vh;
  background-image:imgg;

}
